/* SECTION 1 */

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
a {
    color: #E5E7EB;
    list-style-type: none;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 30px;
}

.top {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.main1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    height: 400px;
    background-color: #1F2937;
}

.content-left {
    color: white;
    flex-direction: column;
    height: 230px;
    width: 500px;
    margin-left: 100px;
}

.content-right {
    margin-right: 100px;
}

.content-left h1 {
    font-size: 48px;
    font-weight: bolder;
    white-space: nowrap;
}

.header1 h4 {
    font-size: 24px;
    color: white;
}

.main1 p {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 24px;
    margin-right: 20px;
}
.content-left button {
    color: white;
    font-size: large;
    font-weight: 500;
    background-color: #3882F6;
    height: 30px;
    width: 90px;
    margin-top: 15px;
    border-radius: 12px;
    border: 2px solid white;
}


/* END OF SECTION 1 */ 

/* START OF SECTION 2 */ 

.main2 {
    display: flex;
    align-items:center ;
    flex-direction: column;
}

.header2 {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
}

.cards {
    display: flex;
    height: 350px;
    gap: 25px;

}
.button2 button {
    color: none;
    height: 150px;
    width: 150px;
    border-radius: 12px;

}

.button2 button:hover {
    background-color:#507efc;
    transition: 0.7s;
}

.button2 p {
    text-align: center;
    height: 150px;
    width: 150px;
    font-size: 12px;
}

/* END OF SECTION 2 */ 

/* START OF SECTION 3 */

.main3 {
    background-color: #E5E7EB ;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.text p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    max-width: 700px;
}

.name p {
    font-size: 25px;
    font-weight: 900;
    margin-left: 450px;
    margin-top: -40px;
    white-space: nowrap;
}

/* END OF SECTION 3 */ 

/* START OF SECTION 4 */ 

.main4 {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.bcontainer {
    display: flex;
    gap: 40px;
    border-radius: 8px;
    background-color: #3882F6;
    height: 150px;
    width: 900px;
}

.main4 .content-left {
    margin: auto;
    margin-top: 50px;
    margin-left: 100px;
}

.content-left .calltoaction {
    font-weight: bold;
    font-size: 20px;
}

.content-left .signup {
    font-weight: 100;
}

.main4 .content-right {
    margin: auto;
    margin-right: 100px;
}
.content-right button {
    height: 35px;
    width: 120px;
    background-color: #3882F6;
    border: 2px solid white;
    font-size: large;
    color: white;
    border-radius: 8px;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.ftext p {
    color: #E5E7EB;
    text-align: center;
}
